@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';
/* LAYOUT COLORS */
/* FONTS */
/* TAGS */
body {
  background: #0756a3;
  /* For browsers that do not support gradients */
  background: linear-gradient(#1b6abc, #0756a3);
  /* Standard syntax (must be last) */
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
}
p,
span {
  color: #333333;
}
a {
  color: #0756a3;
}
/* HEADER */
.top-menu {
  background: #139d43;
  box-shadow: 1px 0px 1px #000;
  display: table;
  width: 100%;
}
.top-menu ul {
  display: table;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.top-menu ul li {
  float: left;
}
.top-menu ul li a {
  color: #fff;
}
.top-menu ul li:after {
  content: "|";
  margin: 0 15px;
  position: relative;
  top: -3px;
}
.top-menu ul li:last-child:after {
  content: "";
}
/* FOOTER */
footer p {
  color: #ffffff;
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}
/* LOGIN */
#page-login > .container {
  margin-top: 96px;
}
#page-login .logo-cnm {
  float: left;
  width: 120px;
}
#page-login .logo-projeto {
  float: right;
  width: 392px;
}
#page-login .form-signin {
  background: #ffffff;
  border: 1px solid #06498b;
  border-radius: 18px;
  margin: 40px auto 0;
  padding: 48px;
}
#page-login .form-signin .form-control {
  background: #F2F2F2;
  border-radius: 0;
  border: 2px solid #C9C9C9;
  box-sizing: border-box;
  font-size: 14px;
  height: auto;
  padding: 10px;
  position: relative;
}
#page-login .form-signin h1 {
  color: #0756a3;
  margin: 0 0 25px;
}
#page-login .form-signin p {
  font-size: 14px;
  margin: 0 0 30px;
}
#page-login .form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#page-login .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 30px;
}
#page-login .form-signin a {
  float: right;
  font-size: 12px;
  margin: 10px 0 0;
}
#page-login .form-signin .btn-login {
  background: #0756a3;
  /* For browsers that do not support gradients */
  background: linear-gradient(#1b6abc, #0756a3);
  /* Standard syntax (must be last) */
  border: 1px solid #0756a3;
  font-size: 14px;
  margin-top: 50px;
  padding: 15px 40px;
}
#page-login .form-signin .btn-login:hover {
  color: #ffffff;
  background: #06498b;
}
