/* LAYOUT COLORS */
@lblue: #1B6ABC;
@blue: #0756A3;
@green: #139d43;
@blacky : #333333;
@white: #ffffff;


/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';


/* TAGS */
body {
    background: @blue; /* For browsers that do not support gradients */
    background: linear-gradient(@lblue, @blue); /* Standard syntax (must be last) */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
h1{
  color: @blacky;
  font-size: 24px;
  font-weight: bold;
}
p, span{
  color: @blacky;
}
a{
  color: @blue;
}

/* HEADER */
.top-menu{
  background: @green;
  box-shadow: 1px 0px 1px #000;
  display: table;
  width: 100%;
  ul{
    display: table;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    li{
      float: left;
      a{
        color: #fff;
      }
      &:after {
        content: "|";
        margin: 0 15px;
        position: relative;
        top: -3px;
      }
      &:last-child:after{
        content: "";
      }
    }
  }
}
/* FOOTER */
footer{
  p{
    color: @white;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
  }
}

/* LOGIN */
#page-login{
  & > .container{
    margin-top: 96px;
  }
  .logo-cnm{
    float: left;
    width: 120px;
  }
  .logo-projeto{
    float: right;
    width: 392px;
  }
  .form-signin {
    background: @white;
    border: 1px solid darken(@blue,5%);
    border-radius: 18px;
    margin: 40px auto 0;
    padding: 48px;
    .form-control {
    background: #F2F2F2;
    border-radius: 0;
    border: 2px solid #C9C9C9;
    box-sizing: border-box;
    font-size: 14px;
    height: auto;
    padding: 10px;
    position: relative;
    }
    h1{
      color: @blue;
      margin: 0 0 25px;
    }
    p{
      font-size: 14px;
      margin: 0 0 30px;
    }
    input[type="email"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 30px;
    }
    a{
      float: right;
      font-size: 12px;
      margin: 10px 0 0;
    }
    .btn-login{
      background: @blue; /* For browsers that do not support gradients */
      background: linear-gradient(@lblue, @blue); /* Standard syntax (must be last) */
      border: 1px solid @blue;
      font-size: 14px;
      margin-top: 50px;
      padding: 15px 40px;
      &:hover{
        color: @white;
        background: darken(@blue, 5%)
      }
    }
  }
}

